.profile {
  &__form {
    padding-top: 30px;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    @media (max-width: 900px) {
      width: 300px;
    }

    @media (max-width: 800px) {
      width: 220px;
    }

    @media (max-width: 700px) {
      width: 180px;
    }

    @media (max-width: 600px) {
      width: 350px;
    }

    @media (max-width: 500px) {
      width: 230px;
    }
  }
}
