html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-stack-main;
  font-size: $font-size-main;
  font-weight: 400;

  // scrollbar-width: thin;
  // scrollbar-color: #ba68c8 transparent;

  // &::-webkit-scrollbar {
  //   width: 10px;
  //   height: 10px;
  //   background-color: transparent;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #ba68c8;
  //   border-radius: 10px;
  // }
}

.container {
  margin: 30px 100px;
  max-width: 1200px;
}
